<dl>
  <dt>Authorization Code</dt>
  <dd><%= response.try(:authorization)%></dd>

  <dt>Mode</dt>
  <dd><%= response.try(:test?) ? "Test Mode" : "Production Mode"%></dd>

  <% if response.try(:avs_result) %>
    <dt>Address Verification (AVS)</dt>
    <dd><%= response.avs_result['message'] %></dd>
  <% end %>

  <dt>Status</dt>
  <dd><%= response.try(:success?) ? "Success" : "Failure"%></dd>

  <dt>Mode</dt>
  <dd><%= response.try(:test?) ? "Test Mode" : "Production Mode"%></dd>
</dl>

<%= link_to "More Info", '#', class: 'more_info', "data-toggle" => "modal", "data-target" => "#more_info_#{index}" %>

<!-- More Info Modal -->
<div class="modal fade" id="more_info_<%= index %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render(:partial => 'hash_table', :locals => {:hash => response.avs_result, :title => 'Address Verification (AVS)'}) if response.try(:avs_result) %>
        <%= render(:partial => 'hash_table', :locals => {:hash => response.cvv_result, :title => 'Card Code Verfication (CVV)'}) if response.try(:cvv_result) %>
        <%= render(:partial => 'hash_table', :locals => {:hash => response.params, :title => 'More Details'}) if response.try(:params) %>
      </div>
    </div>
  </div>
</div>
