<% content_for :page_title do %>
  Log Entries
<% end %>
<table class="index">
  <thead>
    <tr>
      <th>Source</th>
      <th>Date</th>
      <th width="70%">Details</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @log_entries.each_with_index do |log_entry, index| %>
      <tr>
        <td><%= log_entry.source_type %></td>
        <td><%= log_entry.created_at %></td>
        <td>
          <% if log_entry.details.present? %>
            <% object = YAML.load(log_entry.details) %>
            <% if object.kind_of?(ActiveMerchant::Billing::Response) %>
              <%= render :partial => 'active_merchant_response', :locals => { :response => object, :index => index } %>
            <% else %>
              <% object.inspect %>
            <% end %>
          <% else %>
            unavailable
          <% end %>
        </td>
        <td><%= link_to("View Payment", admin_order_payments_path(log_entry.source.order)) if log_entry.source.kind_of?(Spree::Payment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @log_entries %>

<script>
  $(".more_info").click(function() {
    var index = $(this).data('index');

    $("#more_info_" + index).dialog({
      draggable: false,
      modal: true,
      position: ["center","center"],
      width: 1020
    })
    return false;
  });
</script>
